<h1>Listing citations</h1>

<table>
  <tr>
    <th>Article</th>
    <th>Cite</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @citations.each do |citation| %>
  <tr>
    <td><%= citation.article_id %></td>
    <td><%= citation.cite_id %></td>
    <td><%= link_to 'Show', citation %></td>
    <td><%= link_to 'Edit', edit_citation_path(citation) %></td>
    <td><%= link_to 'Destroy', citation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Citation', new_citation_path %>
