<p id="notice"><%= notice %></p>

<p>
  <b>Article:</b>
  <%= @citation.article_id %>
</p>

<p>
  <b>Cite:</b>
  <%= @citation.cite_id %>
</p>


<%= link_to 'Edit', edit_citation_path(@citation) %> |
<%= link_to 'Back', citations_path %>
