
<h1>Articles</h1>
<p>
Listing the names of Journals that have been published, the number in parens indicates the number of articles published in that journal.
If you click on the Journal name you will see a listing of cited journals from the article(s) published in the journal.
</p>
<%= paginate @art %>
<div class="accordion" id="accordion1">
  <% @articles.each_with_index do |(key, value), index| %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-present="#accordion<%= index %>" href="#collapse<%= index.in_words %>"><%= index+1 %>) <%= key.titleize %> (<%= value[:count] %>)</a>
    </div>
    <div id="collapse<%= index.in_words %>" class="accordion-body collapse">
      <div class="accordion-inner">
      <% value = value.delete_if { |k| k.to_s.match(/count/) } %>
      <% value.sort_by{ |ke,va| ke}.each do |v,count| %>
      <%# value.each do |v,count| %>
        <% if not v.blank? %><%= v.titleize %> (<%= count %>)<br /><% end %>
      <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<br />
<%= paginate @art %>
